

.container {  
  width: 100%;
  font-family: 'Rampart One', cursive;
  object-fit: fill;
}

.header { 
  width: 100%;
  display: flex;
  background: linear-gradient(to top, transparent, 25%, #003049);
  height: 70px;
  justify-content: center;
  position: fixed;
  z-index: 9;
  top: 0;
}


.header nav{
  height: 100%;
  display: flex;
  justify-content: center;
}

.header ul{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.header li{
  align-self: center;
  list-style-type: none;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.header a{
  font-size: 30px;
  letter-spacing: .36em;
}

.header li:hover{
  cursor: pointer;
}

.header a {
  position: relative;
  transition: all 0.3s ease-in-out;
  color: white;
}

.header a:before{
  content: '';
  background: #c9ab81;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}

.header a:hover {
 background-position: 0;
}

.header a:hover::before{
  width: 100%;
}

.main {  
  width: 100%;
}

.intro {
   display: flex;
   width: 100%;
   background-image: url('https://i.pinimg.com/736x/3e/b8/fe/3eb8fe91bea1d24d0b48a99fb4b9b670.jpg');
   height: 100vh;
   justify-content: center;
   align-items: center;
   background-repeat: none;
  }

  .intro-flex{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    max-width: 30%;
  }

  .title{
    font-size: 100px;
  }

  .intro-flex h3{
    font-size: 40px;
  }

  .intro-flex p{
    color: white;
  }

  .intro-flex button{
    font-size: 23px;
    margin-top: 50px;
    padding: 25px;
    letter-spacing: 6px;  
  }



.title{
  display: flex;
  justify-content: center;
}
.menu { 
  border-top: 1px solid #c9ab81;
  background-color: #fcbf49;
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  flex: 1;
  height: 100vh;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org…0 0-57.97 0h57.96z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.entradas{
    display: flex;
    justify-content: center;
    align-items: center;
}

.entradas-container{
    width: 12rem;
    padding: 0.2rem 0.5rem;
    margin-bottom: 0.5rem;
    background: #eae2b7;
    border: 0.1rem solid #1f1e34;
    border-radius: 0.3rem;
    display: grid;
    grid: auto auto / 1fr auto;
    gap: 0.2rem;
    align-items: start;
    page-break-inside: avoid;
    break-inside: avoid;
}

.foodTitle, .foodPrice, .foodDesc{
  margin: 0;
  overflow: hidden;
}

.foodDesc{
  grid-area: 2 / 1 / 3 / 3;
  text-align: start;
}

.foodPrice{
  text-align: end;
}
.foodTitle{
  text-align: start;
}

.menu h1{
  letter-spacing: 20px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  color: #c9ab81;
}

.menu h2{
  letter-spacing: 10px;
  margin-top: 50px;
  margin-left: 50px;
  color: #c9ab81;
  border-bottom: 1px solid #c9ab81;
}

a{
  text-decoration: none;
}

.menu p{
  letter-spacing: 5px;
  margin-top: 10px;
  margin-left: 50px;
  color: white;
}

.mar{
  width: 40%;
  height: 800px;
  margin-top: 50px;
}

.tacos{
  width: 40%;
  height: 800px;
  margin-top: 200px;
}

.postres{
  width: 40%;
  height: 800px;
  margin-top: 200px;
}
