<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rampart+One&display=swap" rel="stylesheet">
</head>
<body>
  <div class="container">
    <div class="header">
      <nav>
        <ul>
          <li><a href="index#home" routerLinkActive="active">Home</a></li>
          <li><a href="index#menu" routerLinkActive="active">Menu</a></li>
          <li><a routerLink="" routerLinkActive="active">Location</a></li>
          <li><a routerLink="" routerLinkActive="active">Contact</a></li>
        </ul>
      </nav>
    </div>

    <section id='home' class="main"> 
      <div class="intro">
        <div class="intro-flex">
          <p class="title">
            TACOS
          </p>
          <h3>
            Restaurant
          </h3>
          <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. 
            Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
            Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa
          </p>
          <button mat-raised-button style="background-color: #c9ab81;" (click)=" openLoginDialog()">Reserva YA!</button>
        </div>
      </div>
    </section>

    <section class="menuwrapper">
      <div class="menutitles">
        <p>MENU</p>
        <nav class="title-flex">
          <li><p>Hamburguesas</p></li>
          <li>Pizzas</li>
          <li>Tacos</li>
          <li>Postres</li>
        </nav>
      </div>
      <div class="menu" id="menu">
        <div class="entradas">
            <div class="entradas-container">
              <h3 class="foodtitle" style="color: #003049;">Jamburguer</h3>
              <h4 class="foodPrice">$300</h4>
              <p class="foodDesc" style="color: #F59223;">Great american foodarstart
                arstartsartarstearsntar
                arstarosierte
              </p>
            </div>
            <div class="entradas-container">
              <h3 class="foodtitle" style="color: #003049;">Jamburguer</h3>
              <h4 class="foodPrice">$300</h4>
              <p class="foodDesc" style="color: #F59223;">Great american food</p>
            </div>
            <div class="entradas-container">
              <h3 class="foodtitle" style="color: #003049;">Jamburguer</h3>
              <h4 class="foodPrice">$300</h4>
              <p class="foodDesc" style="color: #F59223;">Great american foodarstart
                arstartsartarstearsntar
                arstarosierte
              </p>
            </div>
            <div class="entradas-container">
              <h3 class="foodtitle" style="color: #003049;">Jamburguer</h3>
              <h4 class="foodPrice">$300</h4>
              <p class="foodDesc" style="color: #F59223;">Great american food</p>
            </div>
        </div>

        <div class="entradas">
          <div class="entradas-container">
            <h3 class="foodtitle" style="color: #003049;">Jamburguer</h3>
            <h4 class="foodPrice">$300</h4>
            <p class="foodDesc" style="color: #F59223;">Great american food</p>
          </div>
          <div class="entradas-container">
            <h3 class="foodtitle" style="color: #003049;">Jamburguer</h3>
            <h4 class="foodPrice">$300</h4>
            <p class="foodDesc" style="color: #F59223;">Great american food</p>
          </div>
          <div class="entradas-container">
            <h3 class="foodtitle" style="color: #003049;">Jamburguer</h3>
            <h4 class="foodPrice">$300</h4>
            <p class="foodDesc" style="color: #F59223;">Great american food</p>
          </div>
          <div class="entradas-container">
            <h3 class="foodtitle" style="color: #003049;">Jamburguer</h3>
            <h4 class="foodPrice">$300</h4>
            <p class="foodDesc" style="color: #F59223;">Great american foodarstart
              arstartsartarstearsntar
              arstarosierte
            </p>
          </div>
        </div>

        <div class="entradas">
          <div class="entradas-container">
            <h3 class="foodtitle" style="color: #003049;">Jamburguer</h3>
            <h4 class="foodPrice">$300</h4>
            <p class="foodDesc" style="color: #F59223;">Great american food</p>
          </div>
          <div class="entradas-container">
            <h3 class="foodtitle" style="color: #003049;">Jamburguer</h3>
            <h4 class="foodPrice">$300</h4>
            <p class="foodDesc" style="color: #F59223;">Great american foodarstart
              arstartsartarstearsntar
              arstarosierte
            </p>
          </div>
          <div class="entradas-container">
            <h3 class="foodtitle" style="color: #003049;">Jamburguer</h3>
            <h4 class="foodPrice">$300</h4>
            <p class="foodDesc" style="color: #F59223;">Great american foodarstart
              arstartsartarstearsntar
              arstarosierte
            </p>
          </div>
          <div class="entradas-container">
            <h3 class="foodtitle" style="color: #003049;">Jamburguer</h3>
            <h4 class="foodPrice">$300</h4>
            <p class="foodDesc" style="color: #F59223;">Great american food</p>
          </div>
        </div>
      </div>
    </section>
  </div>
</body>
</html>