<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rampart+One&display=swap" rel="stylesheet">
</head>
<body>
  <div class="container">
    <div class="header">
      <nav>
        <ul>
          <li><a >Home</a></li>
          <li><a routerLink="#menu" routerLinkActive="active">Menu</a></li>
          <li><a routerLink="#menu" routerLinkActive="active">Location</a></li>
          <li><a routerLink="#menu" routerLinkActive="active">Contact</a></li>
        </ul>
      </nav>
    </div>
    <div class="main">
      <div class="intro">
        <div class="intro-flex">
          <p class="title">
            TACOS
          </p>
          <h3>
            Restaurant
          </h3>
          <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. 
            Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
            Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa
          </p>
          <button mat-raised-button style="background-color: #c9ab81;" (click)=" openLoginDialog()">Reserva YA!</button>
        </div>
      </div>
      <div class="menu" id="menu">
        <div class="entradas">
            <div class="entradas-container">
              <h3 class="foodtitle">Jamburguer</h3>
              <h4 class="foodPrice">$300</h4>
              <p class="foodDesc">Great american foodarstart
                arstartsartarstearsntar
                arstarosierte
              </p>
            </div>
        </div>
        <div class="entradas">
          <div class="entradas-container">
            <h3 class="foodtitle">Jamburguer</h3>
            <h4 class="foodPrice">$300</h4>
            <p class="foodDesc">Great american food</p>
          </div>
      </div>
      <div class="entradas">
        <div class="entradas-container">
          <h3 class="foodtitle">Jamburguer</h3>
          <h4 class="foodPrice">$300</h4>
          <p class="foodDesc">Great american food</p>
        </div>
    </div>
      </div>
    </div>
    <div class="logo"></div>
    <div class="border"></div>
    <div class="border2"></div>
    <div class="logo2"></div>
  </div>
</body>
</html>