.container {  
  display: grid;

  grid-template-columns: 0.3fr 2.4fr 0.3fr;
  grid-template-rows: 0.2fr 1.5fr;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "logo header logo2"
    "border main border2";
    background-color: #0B1315;
}

.header nav{
  height: 100%;
  display: flex;
  justify-content: center;
}

.header { 
  grid-area: header;
  border-bottom: 1px solid #c9ab81;
}

.header ul{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.header li{
  align-self: center;
  list-style-type: none;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.header a{
  font-size: 30px;
  font-family: "Open Sans Condensed",sans-serif;
  letter-spacing: .36em;
}

.header li:hover{
  cursor: pointer;
}

.header a {
  position: relative;
  transition: all 0.3s ease-in-out;
  color: white;
}

.header a:before{
  content: '';
  background: #c9ab81;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}

.header a:hover {
 background-position: 0;
}

.header a:hover::before{
  width: 100%;
}

.main {  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 0.6fr 1.4fr;
  grid-auto-flow: row;
  grid-template-areas:
    "intro intro intro"
    "menu menu menu"
    "menu menu menu";
  grid-area: main;
}

.intro {
   grid-area: intro;
   display: flex;
   justify-content: center;
   align-items: center;
  }

  .intro-flex{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    max-width: 30%;
  }

  .title{
    font-size: 100px;
    font-family: 'Smokum', cursive;
  }

  .intro-flex h3{
    font-size: 40px;
    font-family: 'Bebas Neue', cursive;
  }

  .intro-flex p{
    color: white;
  }

  .intro-flex button{
    font-size: 23px;
    margin-top: 50px;
    padding: 25px;
    letter-spacing: 6px;  
  }



.title{
  display: flex;
  justify-content: center;
}

.menu { 
  grid-area: menu; 
  border-top: 1px solid #c9ab81;
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
  flex: 1;
}

.entradas{
  width: 40%;
  height: 800px;
  margin-top: 50px;
}

.menu h1{
  letter-spacing: 20px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  color: #c9ab81;
}

.menu h2{
  letter-spacing: 10px;
  margin-top: 50px;
  margin-left: 50px;
  color: #c9ab81;
  border-bottom: 1px solid #c9ab81;
}

a{
  text-decoration: none;
}

.menu p{
  letter-spacing: 5px;
  margin-top: 10px;
  margin-left: 50px;
  color: white;
}

.mar{
  width: 40%;
  height: 800px;
  margin-top: 50px;
}

.tacos{
  width: 40%;
  height: 800px;
  margin-top: 200px;
}

.postres{
  width: 40%;
  height: 800px;
  margin-top: 200px;
}

.logo {
   grid-area: logo; 
   border-bottom: 1px solid #c9ab81;
  border-right: 1px solid #c9ab81;
}

.border { 
  grid-area: border; 
  border-right: 1pt solid #c9ab81
}

.border2 { 
  grid-area: border2;
  border-left: 1pt solid #c9ab81
}

.logo2 { 
  grid-area: logo2;
  border-bottom: 1px solid #c9ab81;
  border-left: 1px solid #c9ab81;
 }
