<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>admin</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="container">
        <header class="header"></header>
        <aside class="aside">
            <h1><i class="fa fa-dashboard" style="font-size: 65px"></i> Dashboard</h1>
            <ul class="aside-nav">
                <li class="aside-nav_elem">
                    <a class="link">
                        <span class="material-symbols-outlined" style="font-size: 40px;">home</span>Home
                    </a>
                </li>
                <li class="aside-nav_elem">
                    <a class="link">
                        <span class="material-symbols-outlined" style="font-size: 40px;">account_circle</span>Profile
                    </a>
                </li>
                <li class="aside-nav_elem">
                    <a class="link">
                        <span class="material-symbols-outlined" style="font-size: 40px;">settings</span>Setings
                    </a>
                </li>
            </ul>
            <ul class="aside-nav">
                <li class="aside-nav_elem"></li>
                <li class="aside-nav_elem"></li>
                <li class="aside-nav_elem"></li>
            </ul>
        </aside>
        <main class="main">
            <div class="reservations">
                <div class="cards-reservation">
                    <div class="card">
                        <h1>Super Cool</h1>
                        <p>hola</p>
                    </div>
                    <div class="card">
                        <h1>Super Cool</h1>
                        <p>hola</p>
                    </div>
                    <div class="card">
                        <h1>Super Cool</h1>
                        <p>hola</p>
                    </div>
                    <div class="card">
                        <h1>Super Cool</h1>
                        <p>hola</p>
                    </div>
                </div>
            </div>
            <div class="cliente">
                <div class="cards-cliente">
                    <div class="card"><h1>Manuel Sebastian Sala Alanis</h1></div>
                    <div class="card"><h1>Manuel Sebastian Sala Alanis</h1></div>   
                    <div class="card"><h1>Manuel Sebastian Sala Alanis</h1></div>
                </div>      
            </div>
        </main>
    </div>    
</body>
</html>
 

