.container {
    display: grid;
    grid-template-columns: 0.5fr 2.3fr;
    grid-template-rows: 150px 1fr;
    gap: 0;
    grid-template-areas:
      "aside header"
      "aside main";
  }

  
  @media screen and (max-width: 768px) {
    .container {
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      grid-template-areas:
        "header"
        "aside"
        "main";
    }
  }

  .logo {
    background-color: #F44336;
    color: #fff;
  }

  .aside {
    background-color: #1F2837;
    box-shadow: 0.2em 0 0.2em rgb(0 0 0 / 30%);
    grid-area: aside;
    width: max(240px, 18%);
    height: 100vh;
    position: sticky;
    overflow: auto;
    top: 0;
    left: 0;
  }

  .aside h1 {
    margin: 0;
    padding: 0.5em;
    font-size: 30px;
  }

.dashboard{
    font-size: 30px;
    margin-right: 10px;
}

.nav{
    display: flex;
    flex-direction: column;
}


.nav a{
    position: sticky;
    padding: 1.6rem;
    display: flex;
    list-style-type: none;
    color: #767B85;
    border-bottom: 1px solid #E0E8F5;
}

.nav span{
    align-self: center;
}

.self{
    justify-self: flex-end;
}

a:link{
    text-decoration: none;
}

.nav a:hover{
    font-weight: 900;
    cursor: pointer;
    background-color: #233342;
}
  
  .main {  
    background-color: #E0E8F5;
    padding: 100px;
    grid-area: main;
    display: flex;
    flex-wrap: wrap;
  }

  .graph{
    width: 40%;
    height: 300px;
    order: 1;
  }

  .reservations {
    width: 60%;
    order: 2;
    display: flex;
    justify-content: center;
    gap: 3rem;
    flex-wrap: wrap;
  }

.reservations::-webkit-scrollbar {
    overflow: scroll;
  }

.card{
    width: 300px;
    height: 250px;
    background-color: #fafaf9;
    padding: 2rem;
    border-radius: 0.5rem;  
    border: 2px solid #dfe0eb;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1); 
}

.header { 
    z-index: 9;
    grid-area: header;
    position: sticky;
    top: 0;
    background-color: #FFFFFF;
    box-shadow: 0px 3px 7px -1px rgba(0,0,0,1);
}

.top-container{
    display: flex;
    justify-content: space-between;
    height: 50%;
}

.search-bar{
     position: relative;
    width: 35%;
    height: 45px;
    background-color: white;
    border-radius: 50px;
    left: 110px;
    top: 25px;
}

.search-bar input{
    outline: none;
    font-size: 20px;
    width: 95%;
    background-color: white;
    height: 25px;
    position: absolute;
    border: 1px solid black;
    border-radius: 1ch;
    top: 10px;
    left: 15px;
    padding: 10px;
}

.bottom-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50%;
}

.button-container{
    display: flex;
    gap: 10px; 
    margin-right: 20px;
}

canvas {
    max-width: 100%;
    height: auto;
  }
  