a:link {
    text-decoration: inherit;
    color: inherit;
}

a:visited {
    text-decoration: inherit;
    color: inherit;
}


.container{
    color: gray;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 1fr 1fr ;
    grid-template-areas:
        'aside main right'
        'aside main right'
        'aside main right';
}
.header { 
    background-color: #fafaf9;
    grid-area: header;
    padding: 1.5rem 3rem;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    z-index: 3;
}
.logo { 
    grid-area: logo;
    height: 10vh;
}

.grid-container > .logo > img{
    width: 100px;
}

.aside { 
    background-color: #52a7c1;
    color: white;
    padding: 2rem;
    grid-area: aside;
}

.aside-nav{
    font-size: 1.2rem;
    margin-top: 3.25rem;
    display: flex;
    gap: 1.5rem;
    flex-direction: column;
}

.aside h1{
    font-size: 40px;
}

.link{
    display: flex;
    align-items: flex-end;
    gap: 20px;
}

.aside-nav_elem:hover{
    font-weight: 900;
    cursor:pointer;
}

.aside-nav_elem{
    list-style-type: none;
    font-size: 25px;
}

.main { 
    background-color: #52a7c1;
    grid-area: main;
    padding: 2rem;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 2fr 6fr 1fr;
    gap: 2rem;
    grid-template-areas: 
    'dates' 'reservation' 'footer';
    overflow: auto;
}

.reservations{
    grid-area: reservation;
}

.cards-reservation{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-auto-rows: 250px;
    gap: 2rem;
}

.reservations .card{
    display: flex;
    flex-direction: column;
}

.card{
    background-color: #fafaf9;
    padding: 2rem;
    border-radius: 0.5rem;  
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1); 
}

.dates{
    grid-area: dates;
    height: 130px;
    color: black;
}

.head-dates{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    margin-bottom: 20px;
}

.head-dates button{
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 50px;
}

.dates-card{
    display: flex;
    justify-content: center;
    gap: 100px;
    padding: 10px;
}

.days{
    display: flex;
    height: 50px;
    flex-direction: column;
    align-items: center;
}

.day{
    font-weight: 500;
    padding-bottom: 20px;
    font-size: 20px;
}

.date{
    font-weight: 700;
}

.right-aside{
    grid-area: right;
    background-color: #52a7c1;
}

.seleccionado {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #ff5b3ed3;
    color: #ffffff;
    border-radius: 50px;
    padding-top: 10px;
    margin-left: -25px;
    margin-right: -25px;
    padding-bottom: 10px;
    width: 40px;
  }
.days:hover{
    cursor: pointer;
}
